---
layout: default.hbs
is_frontline_comingsoon: false
is_award_comingsoon: true
is_wonder_comingsoon: false
---
<main>
  {{> _index }}
  
  {{!-- 栄養の日とは？ --}}
  {{> _about }}
  {{!-- /栄養の日とは？ --}}
  
  {{!-- 今日からできる！あなたのカラダを正しくつくる新栄養習慣8 --}}
  {{> _habit }}
  {{!-- /今日からできる！あなたのカラダを正しくつくる新栄養習慣8 --}}
  
  {{!-- スペシャル --}}
  {{> _special }}
  {{!-- /スペシャル --}}
  
  {{!-- イベント --}}
  {{> _event }}
  {{!-- /イベント --}}
  

  {{> _news }}

  {{> _sponsership }}

  {{> _credit }}
  

  {{> _nutas }}
</main>