.p-map {
  width: 860px;
  min-height: 630px;
  padding: 25px 0 35px;
  margin: auto;
  position: relative;
  border-top: 1px solid $color-event02;
}

.p-map__header {
  position: absolute;
  top: 113px;
  left: 83px;
}

.p-map__heading {
  width: 301px;
  height: 84px;
  margin: 0 0 40px;
  background: url(../img/event/map/heading.png) 0 0 no-repeat;
  position: relative;
  font-size: 0;
  @include before-bounce;
  
  &::before {
    content: '';
    width: 129px;
    height: 77px;
    position: absolute;
    top: -70px;
    left: -46px;
    background: url(../img/common/check.png) 0 0 no-repeat;
    @include shake;
  }

  .is-animated & {
    @include after-bounce;
  }
}

.p-map__map {
  p {
    padding: 0 0 0 25px;
    @include font-size(12);
    font-weight: 700;
    line-height: (18 / 12);
    position: absolute;
    right: 15px;
    bottom: 130px;

    .icon-search {
      height: 18px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      @include font-size(16);
      transform: scale(1.5);
    }
  }

  svg {
    cursor: pointer !important;
  }

  g {
    cursor: pointer !important;
  }

  a {
    display: block;
    cursor: pointer !important;

    .st0, .st1 {
      transition: fill 0.2s linear;
    }

    &:hover {
      g {
        .st0, .st1 {
          fill: $color-main; 
        }
      }  
    }
  }
}

.p-map__buttons {
  display: none;
}

%p-map__button {
  display: none;
  padding-top: 100%;
  position: relative;
  background: #2b937e;
  color: $color-white;
  @include font-size(14);
  font-weight: 700;
  text-align: center;
  line-height: (38 / 28);

  div {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
  }

  span {
    display: block;
    padding-top: 65px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      
      right: 0;
      left: 0;
      margin: auto;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.p-map__button--all {
  @extend %p-map__button;

  span {
    &::before {
      width: 58px;
      height: 55px;
      background-image: url(../img/event/map/sp/japan.png);
      top: 0;
    }
  }
}

.p-map__button--near {
  @extend %p-map__button;

  span {
    &::before {
      width: 37px;
      height: 38px;
      top: 8px;
      background-image: url(../img/event/map/sp/search.png);
    }
  }
}



@include pc-small {
  .p-map {
    width: auto;
    // margin-right: 20px;
    // margin-left: 20px;
  }

  .p-map__map {
    svg {
      max-width: 100%;
    }
  }
}


@include sp {
  .p-map {
    width: auto;
    min-height: 0;
    padding: 0 15px;
    border-top: 0;
    margin-right: 0;
    margin-left: 0;
  }

  .p-map__header {
    padding-top: 25px;
    position: relative;
    top: 0;
    left: 0;

    &::before {
      content: '';
      height: 1px;
      background: $color-event02;
      position: absolute;
      top: 0;
      right: 0;
      left: (195 / 590) * 100%;
      margin: auto;
    }

    &::after {
      content: '';
      width: 100px;
      height: 1px;
      background: $color-white;
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 0;
      transform: translate3d(-150px, 0, 0);
    }
  }

  .p-map__heading {
    width: 236px;
    height: 71px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    background-image: url(../img/event/map/sp/heading.png);
    background-size: cover;
    
    &::before {
      width: 97px;
      height: 58px;
      top: -45px;
      left: -40px;
      z-index: 1;
      background: url(../img/common/sp/check.png) 0 0 no-repeat;
      background-size: cover;
    }
  }

  .p-map__button {
    display: none;
  }

  .p-map__map {
    display: none;
  }

  .p-map__buttons {
    display: flex;
    margin: 0 -15px;

    > li {
      width: 50%;
      padding: 0 8px;
    }
  }

  %p-map__button {
    display: block;
  }
}