---
published: false
---
<div class="js-scrollify">
  <section class="p-about js-section js-waypoint" id="about" data-prev="">
    <h2 class="p-about__heading">栄養の日とは？</h2>
  
    <div class="p-about__image"></div>
  
    <p class="p-about__lead">
      たのしく食べて、<br>
      未来のワタシの笑顔をつくる<br>
      そのきっかけの日です
    </p>
  
    <div class="p-about__text">
      <p>
        食べる、必要な栄養素を体内に取り込みカラダをつくる、<br>
        その代謝を通じて生命を維持する一連の営みを「栄養」といいます。
      </p>
      
      <p>
        例えば、大切な誰かと一緒に食べる食卓には思いやりがあること。<br>
        例えば、バランスのとれた食事にココロが満たされること。<br>
        「栄養」というと難しそうに聞こえるけれど、大丈夫。<br>
        じつは、その「たのしい！」の笑顔が、健やかなカラダをつくるのです。
      </p>
      
      <p>
        2017年、日本栄養士会は8月4日を「栄養の日」、8月1日から7日を「栄養週間」として、全国の管理栄養士・栄養士とともに、日本中のみなさんの「栄養を楽しむ」生活を応援します。さあ、「栄養の日・栄養週間」、はじまります！  
      </p>
    </div>
  </section>
</div>