---
published: false
---
<div class="p-credit">
  <div class="p-container">
    <dl class="p-credit__description">
      <dt>主催</dt>
      <dd>公益社団法人 日本栄養士会、47都道府県栄養士会</dd>
    </dl>
    
    <dl class="p-credit__description">
      <dt>共催</dt>
      <dd>一般社団法人 全国栄養士養成施設協会</dd>
    </dl>

    <dl class="p-credit__description">
      <dt>後援</dt>
      <dd class="p-credit__support">
        厚生労働省、農林水産省、消費者庁、内閣府食品安全委員会、神奈川県、横浜市、国立研究開発法人医薬基盤・健康・栄養研究所国立健康・栄養研究所、健康･体力づくり事業財団、骨粗鬆症財団、児童育成協会、食品流通構造改善促進機構、全国学校栄養士協議会、全国社会福祉協議会、全日本病院協会、全国老人保健施設協会、日本アレルギー学会、日本医師会、日本栄養改善学会、日本栄養･食糧学会、日本看護協会、日本外科代謝栄養学会、日本骨粗鬆症学会、日本在宅栄養管理学会、日本歯科医師会、日本小児アレルギー学会、日本小児臨床アレルギー学会、日本静脈経腸栄養学会、日本食品衛生協会、日本腎臓学会、日本スポーツ栄養学会、日本摂食嚥下リハビリテーション学会、日本体育協会、日本透析医学会、日本糖尿病学会、日本病院会、日本病態栄養学会、日本薬剤師会、日本臨床栄養学会、母子衛生研究会（順不同）
      </dd>
    </dl>
  </div>
</div>