---
published: false
---
<footer class="l-footer">
  <div class="l-container">
    <ul class="l-footer__logos">
      <li>
        <a href="https://www.dietitian.or.jp/" target="_blank" class="u-hover">
          <span class="c-logo--jda">公益社団法人 日本栄養士会</span>
        </a>
      </li>
      <li>
        <a href="https://www.nutas.jp/" target="_blank" class="u-hover">
          <span class="c-logo--nutas">読む栄養補給 ニュータス</span>
        </a>
      </li>
    </ul>
    
    <small class="l-footer__copyright">Copyright &copy; The Japan Dietetic Association. All rights reserved</small>
  </div>
</footer>