---
published: false
---
<div class="js-scrollify">
  <section class="p-index">
    <div class="p-index__cover js-cover">
      <div class="p-index__spacing"></div>
      <div class="p-index__opening">
        <div class="p-index__illustration"></div>  
      </div>
    </div>
  
    <div class="p-index__side">
      <h2 class="p-index__heading">栄養の日 たのしく食べる、カラダよろこぶ｜栄養習慣はじまる</h2>
      <div class="p-index__date">Aug 8</div>
      
      <div class="p-index__navigation">
        <nav class="p-navigation">
          <h2 class="p-navigation__heading" data-animation="10">Contents</h2>

          <ol class="p-navigation__list">
            <li data-animation="9">
              <a href="#about" name="about" class="p-navigation__item js-anchor">栄養の日とは？</a>
            </li>
            <li data-animation="8">
              <a href="#habit" class="p-navigation__item js-anchor">新・栄養習慣 8</a>
            </li>
            <li>
              <div class="p-navigation__index--3" data-animation="7">
                <a href="#special" class="p-navigation__item js-anchor">スペシャル</a>
              </div>

              <ul class="p-navigation__underlayers">
                <li data-animation="6">
                  <a href="#recipe" class="p-navigation__underlayer--recipe js-anchor">夏の栄養習慣 おすすめレシピ</a>
                </li>
                <li data-animation="5">
                  <a href="#frontline" class="p-navigation__underlayer--frontline js-anchor">暮らしがたのしくなる栄養のはなし</a>
                </li>
              </ul>
            </li>
            <li>
              <div class="p-navigation__index--4" data-animation="4">
                <a href="#event" class="p-navigation__item js-anchor">イベント情報</a>
              </div>

              <ul class="p-navigation__underlayers">
                <li data-animation="3">
                  <a href="#award" class="p-navigation__underlayer--award js-anchor">84 Award &amp; 84 Selection</a>
                </li>
                <li data-animation="2">
                  <a href="#wonder" class="p-navigation__underlayer--wonder js-anchor">栄養ワンダー2017</a>
                </li>
              </ul>
            </li>
          </ol>
        </nav>
      </div>
      
  
      <ul class="p-index__sns" data-animation="1">
        <li>
          <div class="c-snsButton">
            <div class="c-snsButton__front">
              <span>
                <i class="icon-facebook"></i> Like
              </span>
            </div>
            <div class="c-snsButton__back--like">
              <div class="fb-like" data-href="https://www.nutas.jp/84/" data-layout="box_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
            </div>
          </div>
        </li>
        <li>
          <div class="c-snsButton">
            <div class="c-snsButton__front">
              <span>
                <i class="icon-facebook"></i> Share
              </span>
            </div>
  
            <a href="http://www.facebook.com/share.php?u=https://www.nutas.jp/84/" class="c-snsButton__back--share" onclick="window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;">
              <span>
                <i class="icon-facebook"></i> Share
              </span>
            </a>
          </div>
        </li>
        <li>
          <div class="c-snsButton">
            <div class="c-snsButton__front">
              <span>
                <i class="icon-twitter"></i> Tweet
              </span>
            </div>
            
            <a href="http://twitter.com/intent/tweet?url=https://www.nutas.jp/84/&text={{encodeURI '栄養の日・栄養週間｜たのしく食べる、カラダよろこぶ' }}" class="c-snsButton__back--twitter" onclick="window.open(this.href, 'TWwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;">
                <span>
                  <i class="icon-twitter"></i> Tweet
                </span>
              </a>
          </div>
        </li>
      </ul>
  
  
      <a href="#" class="c-hamburger p-index__hamburger js-hamburger">
        <span class="c-hamburger__arrow">
          <span class="c-hamburger__border--top"></span>
          <span class="c-hamburger__border--middle"></span>
          <span class="c-hamburger__border--bottom"></span>  
        </span>
      </a>
  
      <ul class="p-index__sns--sp">
        <li>
          <a href="http://www.facebook.com/share.php?u=https://www.nutas.jp/84/" class="" onclick="window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;">
            <span>
              <i class="icon-facebook"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="http://twitter.com/intent/tweet?url=https://www.nutas.jp/84/&text={{encodeURI '栄養の日・栄養週間｜たのしく食べる、カラダよろこぶ' }}" class="" onclick="window.open(this.href, 'TWwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;">
            <span>
              <i class="icon-twitter"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="p-index__main">
      <div class="p-mainvisual">
        
        <img src="/assets/img/index/mainvisual/eiyosyukan-06.svg" alt="新 栄養習慣はじまる" class="p-mainvisual__title">
        {{> _mv_date_svg }}
      </div>
    </div>
    
    <a href="#" class="p-index__scroll--cover js-cover-trigger">Scroll</a>
    <a href="#" class="p-index__scroll--content js-scroll-trigger">Scroll</a>
  </section>
</div>