---
published: false
---
<div class="p-news js-news">
  <div class="p-container">

    {{!--
    <ul class="p-news__list">
      <!--li>
        <a href="#" target="_blank">
          <dl class="p-news__item">
            <dt>2017.04.30</dt>
            <dd>
              大人の健康診断を甘く見ないで。結果から学ぶ自分のベストな状態大人の健康診断を甘く見ないで。結果から学ぶ自分のベストな状態
            </dd>
          </dl>
        </a>
      </li>
    
      <li>
        <a href="#" target="_blank">
          <dl class="p-news__item">
            <dt>2017.04.30</dt>
            <dd>
              大人の健康診断を甘く見ないで。結果から学ぶ自分のベストな状態大人の健康診断を甘く見ないで。結果から学ぶ自分のベストな状態
            </dd>
          </dl>
        </a>
      </li>

      <li>
        <a href="#" target="_blank">
          <dl class="p-news__item">
            <dt>2017.04.30</dt>
            <dd>
              大人の健康診断を甘く見ないで。結果から学ぶ自分のベストな状態大人の健康診断を甘く見ないで。結果から学ぶ自分のベストな状態
            </dd>
          </dl>
        </a>
      </li-->
    </ul>
    
    <a href="#" class="p-news__button c-button--black" target="_blank">
      <i class="icon-arrow_right"></i><span>もっと読む</span>
    </a> --}}
    
    <a href="https://www.dietitian.or.jp/84/" target="_blank" class="p-news__link u-hover">
      <img src="{{ assets }}/img/news/bnr_nutoritionist.png" class="u-fluid" alt="">
    </a>
  </div>
</div>