---
published: false
---
<aside class="p-nutas">
  <div class="p-nutas__logo">
    <div class="c-logo--largeNutas">読む栄養補給 ニュータス</div>
  </div>
  <dl class="p-nutas__description">
    <dt>あなたの毎日に栄養(Nutrition)をプラス</dt>
    <dd>
      <p>
        NU+（ニュータス）は、食でカラダを健やかにするWEBマガジンです。
      </p>

      <p>
        次の日の朝食に取り入れられるアイデアから、<br>
        カラダのお悩みを解決するHOW TOまで、<br>
        栄養に関するさまざまな情報を発信していきます。
      </p>

      <p>
        すべての情報は専門的な知見から管理栄養士・栄養士が監修し、<br>
        信頼できるものだけをお届けしています。
      </p>
    </dd>
  </dl>
</aside>